<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <conversionRule conversionWord="stack" converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter" />

    <springProperty name="infoVersion" source="info.version"/>
    <springProperty name="serviceName" source="spring.application.name"/>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>

                <timestamp>
                    <fieldName>@timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</pattern>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <loggerName>
                    <fieldName>loggerName</fieldName>
                </loggerName>

                <!-- For å få full stacktrace ved exception : -->
                <!-- "error.stack": "[%thread] - %msg%n%stack{full,full,full,rootFirst,regex1,regex2,evaluatorName}" -->

                <!-- Error must be configured as follows: -->
                <!-- error : when we deploy on BIP -->
                <!-- error.stack : when we deploy on prem -->

                <pattern>
                    <pattern>   {
                        "schemaVersion": "v3",
                        "levelName": "%level",
                        "serviceVersion": "${infoVersion}",
                        "serviceName": "${serviceName}",
                        "xRequestId": "%mdc{xRequestId}",
                        "method": "%mdc{method}",
                        "url": "%mdc{url}",
                        "statusCode": "#asLong{%mdc{statusCode}}",
                        "responseTime": "#asLong{%mdc{responseTime}}",
                        "message": "%message",
                        "error": "[%thread] - %msg%n%stack{full,full,full,rootFirst,regex1,regex2,evaluatorName}"
                        }
                    </pattern>
                </pattern>
                <logstashMarkers/>
            </providers>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%highlight(%d{HH:mm:ss.SSS}) %highlight([%thread]) %highlight(%-5level) %highlight(%logger{1}) %highlight(- %msg%n)</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- configuration to be enabled when the "dev" profile is not active -->
    <springProfile name="!dev">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

</configuration>

